<!DOCTYPE html>
<html>
    <head>
        <title>Employees</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Consoles</h1>
        <a href="./index">Go Back</a>

        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>consoleID</th>
                <th>consoleType</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Game System #"}}</td>
                <td>{{"Game Console Type"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add console</div>
        <form action="/consoles/create" method="POST">
            <label for="consoleType">consoleType</label>
            <input name="consoleType">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update console</div>
        <form action="/consoles/update" method="POST">
            <label for="consoleID">consoleID</label>
            <select name="consoleID"></select>

            <label for="consoleType">consoleType</label>
            <input name="consoleType">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete console</div>
        <form action="/consoles/delete" method="POST">
            <div>Warning: You are about to delete a console with the ConsoleID: 1</div>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>