<!DOCTYPE html>
<html>
    <head>
        <title>Employees</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Consoles</h1>
        <a href="./index">Go Back</a>

        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th>consoleID</th>
                <th>consoleType</th>
            </tr>
            <tr>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
                <td>1</td>
                <td>PS5</td>
            </tr>
            <tr>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
                <td>2</td>
                <td>XBOX</td>
            </tr>
        </table>

        <div>Add console</div>
        <form>
            <label for="consoleType">consoleType</label>
            <input name="consoleType">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update console</div>
        <form>
            <label for="consoleType">consoleType</label>
            <input name="consoleType">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete console</div>
        <form>
            <div>Warning: You are about to delete a console with the ConsoleID: 1</div>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>