<!DOCTYPE html>
<html>
    <head>
        <title>GameSystems</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Game Systems</h1>
        <a href="./index">Go Back</a>


        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>systemID</th>
                <th>loungeID</th>
                <th>inUse</th>
                <th>systemType</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Game System #"}}</td>
                <td>{{"Lounge #"}}</td>
                <td>{{"Rented?"}}</td>
                <td>{{"Game Console Type"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add game system</div>
        <form action="/gameSystems/create" method="POST">
            <label for="loungeID">loungeID</label>
            <select name="loungeID"></select>

            <label for="inUse">inUse</label>
            <input name="inUse">

            <label for="systemType">systemType</label>
            <select name="systemType"></select>

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update game system</div>
        <form action="/gameSystems/update" method="POST">
            <label for="loungeID">loungeID</label>
            <select name="loungeID"></select>

            <label for="inUse">inUse</label>
            <input name="inUse">

            <label for="systemType">systemType</label>
            <select name="systemType"></select>

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete game system</div>
        <form action="/gameSystems/delete" method="POST">
            <div>Warning: You are about to delete a game system with the systemID: 1</div>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>