<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Welcome to The Game Lounge</h1>
        <li>
            <a href="./index">Index</a>
            <a href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </li>
        <p>The Game Lounge is a brand-new company that is focused on providing gaming entertainment to the public. 
            At the gaming lounge, you can come and enjoy a gaming session by yourself or with friends. 
            The cost to play is calculated by hours logged onto a console at a rate of $5 an hour. 
            Customers can rent a single console to play on, depending on their gaming preferences. 
            Each console will have an unlimited library of free games, with age restrictions in place. 
            Staff will oversee one or more lounges, ready to check out consoles and assist with any technical issues. 
            Currently we have 4 lounges with a varying capacity of players per lounge at 5, 10, 8, and 12 people. 
            As profits continue to skyrocket and business grows, the Gaming Lounge needs to keep track of the growing number of customers and track inventory to meet console rental needs. 
        </p>
    </body>
</html>