<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Index</h1>
        <li>
            <a href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </li>
    </body>
</html>