<!DOCTYPE html>
<html>
    <head>
        <title>Lounges_Employees</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Lounges_Employees</h1>
        <a href="./index">Go Back</a>


        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>rentalInvoiceID</th>
                <th>loungeID</th>
                <th>employeeID</th>
                <th>dateInfo</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Rental Invoice #"}}</td>
                <td>{{"Lounge #"}}</td>
                <td>{{"Employee #"}}</td>
                <td>{{"Date"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add lounge_employee</div>
        <form action="/Lounges_Employees/create" method="POST">
            <label for="loungeID">loungeID</label>
            <select name="loungeID"></select>

            <label for="employeeID">employeeID</label>
            <select name="employeeID"></select>

            <label for="dateInfo">dateInfo</label>
            <input name="dateInfo">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update lounge_employee</div>
        <form action="/Lounges_Employees/update" method="POST">
            <label for="rentalInvoiceID">rentalInvoiceID</label>
            <select name="rentalInvoiceID"></select>

            <label for="loungeID">loungeID</label>
            <select name="loungeID"></select>

            <label for="employeeID">employeeID</label>
            <select name="employeeID"></select>

            <label for="dateInfo">dateInfo</label>
            <input name="dateInfo">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete lounge_employee</div>
        <form action="/Lounges_Employees/delete" method="POST">
            <div>Warning: You are about to delete a lounge_employee with the rentalInvoiceID: 1</div>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>